<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>Contacto</h4>
                <ul>
                    <li><a href="#">+52 618 123 45 67</a></li>
                    <li><a href="#">ejemplo©todo-muebles.com</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Ubicación</h4>
                <ul>
                    <li><a href="#">10:00 AM - 6:00 PM</a></li>
                    <li><a href="#">Av. Revolución 123, Col. Centro, C.P. 06000, México, D.F.</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Siguenos</h4>
                <div class="social-links">
                    <a href="https://www.facebook.com/todo-muebles" target="_blank" rel="noopener">
                        <i class="pi pi-facebook"></i>
                      </a>
                      <a href="https://www.instagram.com/todo-muebles" target="_blank" rel="noopener">
                        <i class="pi pi-instagram"></i>
                      </a>
                </div>
            </div>
            <div class="footer-col">
                <h4>Todo Muebles</h4>
                <ul>
                    <li><a href="#">© 2025 Todo Muebles - Todo en muebles Todos los derechos reservados.</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>